# Ethereum Price Prediction Model

This is my first attempt at writing my own model. Just playing around with regression models. 
\

Data can be source from Yahoo at this link: https://au.finance.yahoo.com/quote/ETH-AUD/history?period1=1541376000&period2=1604534400&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true, between the periods of 05/11/2018 to 05/11/2020.

### Setup up env and look at data

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
price_data = pd.read_csv("./data/ETH-AUD.csv")
price_data = pd.DataFrame(price_data)

price_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-11-05,287.690674,292.681061,286.926178,289.896301,289.896301,2237067074
1,2018-11-06,290.414764,301.752777,288.506134,301.752777,301.752777,2565033931
2,2018-11-07,302.298859,305.076721,297.742645,298.594055,298.594055,2650477075
3,2018-11-08,298.729004,300.053406,292.179779,292.125153,292.125153,2435048396
4,2018-11-09,291.779114,294.404663,289.887054,290.558807,290.558807,2150415148

In [3]:
price_data.isna().sum()
price_data.isna()

      Date   Open   High    Low  Close  Adj Close  Volume
0    False  False  False  False  False      False   False
1    False  False  False  False  False      False   False
2    False  False  False  False  False      False   False
3    False  False  False  False  False      False   False
4    False  False  False  False  False      False   False
..     ...    ...    ...    ...    ...        ...     ...
727  False  False  False  False  False      False   False
728  False  False  False  False  False      False   False
729  False  False  False  False  False      False   False
730  False  False  False  False  False      False   False
731  False  False  False  False  False      False   False

[732 rows x 7 columns]

In [4]:
print(price_data.shape)
print(price_data.dtypes)
print(price_data.info());

(732, 7)
Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       732 non-null    object
 1   Open       732 non-null    float64
 2   High       732 non-null    float64
 3   Low        732 non-null    float64
 4   Close      732 non-null    float64
 5   Adj Close  732 non-null    float64
 6   Volume     732 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 40.2+ KB
None

Pick a Ridge model and trim our data so it is predicting close price based off the data it has (will probably just return something akin to average).

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

# We're dropping data data right now because it isn't useful to us with this model
price_data_dateless = price_data.drop(["Date"], axis=1)

np.random.seed(42)
# We want to predict Adj Close Prices
X = price_data_dateless.drop(["Adj Close"], axis=1)
y = price_data_dateless["Adj Close"]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

clf = Ridge()
clf.fit(X_train, y_train);

# print(clf.score(X_test, y_test))
y_preds = clf.predict(X_test)

(585, 5) (585,) (147, 5) (147,)

/Users/jacob/Documents/Post-Bootcamp/ml-projects/env/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=8.83144e-20): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

Ill conditioned matrix, fuck! Rookie squad represent.