# Poker hand classification
This notebook looks to build a machine learning model that can accuractely classify a poker hand given a 5 cards. Basically a model for poker hand rule induction.

Although this is absolutely something that is better built for a stgandard logic based classification system, e.g. if two of the same number then its a pair, I am curious to see how the model does. 

The data comes from the Kaggle `Poker Hand Classification` dataset, found at https://www.kaggle.com/dysphoria/poker-hand-classification?select=poker-hand-training.data

<br/>

#### Features
10 Attributes describing cards. \
1 label describing poker hand value (this is what we want to predict). \

The 5 cards of the hand are set out in the following attribute format:
* Suit of card #n
* Number of card #n

<br/>
 
The poker hand value refers to the following list: 
* 0: nothing in hand; not a recognized poker hand
* 1: one pair; one pair of equal ranks within five cards
* 2: two pairs; two pairs of equal ranks within five cards
* 3: three of a kind; three equal ranks within five cards
* 4: straight; five cards, sequentially ranked with no gaps
* 5: flush; five cards with the same suit
* 6: full house; pair + different rank three of a kind
* 7: four of a kind; four equal ranks within five cards
* 8: straight flush; straight + flush
* 9: royal flush; {Ace, King, Queen, Jack, Ten} + flush

In [13]:
# Import all the tools we need
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Models from SCikit-Learn
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# Model Evaluations
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import plot_roc_curve

In [4]:
# load data
df = pd.read_csv('./data/poker-hand-training.csv')
df.head()

   1  10  1.1  11  1.2  13  1.3  12  1.4  1.5  9
0  2  11    2  13    2  10    2  12    2    1  9
1  3  12    3  11    3  13    3  10    3    1  9
2  4  10    4  11    4   1    4  13    4   12  9
3  4   1    4  13    4  12    4  11    4   10  9
4  1   2    1   4    1   5    1   3    1    6  8

In [19]:
# investigate basic data structure
print(df.shape)
print(df.info())

(25009, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25009 entries, 0 to 25008
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       25009 non-null  int64
 1   10      25009 non-null  int64
 2   1.1     25009 non-null  int64
 3   11      25009 non-null  int64
 4   1.2     25009 non-null  int64
 5   13      25009 non-null  int64
 6   1.3     25009 non-null  int64
 7   12      25009 non-null  int64
 8   1.4     25009 non-null  int64
 9   1.5     25009 non-null  int64
 10  9       25009 non-null  int64
dtypes: int64(11)
memory usage: 2.1 MB
None